body {
  background-color: #0a0a23;
}

#text {
  background-color: #0a0a23;
  color: #fff;
  padding: 0.625rem;
}

#game {
  max-width: 31.25rem;
  max-height: 25rem;
  background-color: #fff;
  color: #fff;
  margin: 1.875rem auto 0;
  padding: 0.625rem;
}

#controls,
#stats {
  border: 1px solid #0a0a23;
  padding: 0.3125rem;
  color: #0a0a23;
}

#monster-stats {
  display: none;
  border: 1px solid #0a0a23;
  padding: 0.3125rem;
  color: #fff;
  background-color: #c70d0d;
}

.stat {
  padding-right: 0.625rem;
}

button {
  cursor: pointer;
  color: #0a0a23;
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 0.1875rem solid #feac32;
}
