body {
  font:
    0.875rem "Century Gothic",
    Futura,
    sans-serif;
  margin: 1.25rem;
}

ol,
ul {
  padding-left: 1.875rem;
}

.board-row::after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 0.625rem;
}

.square {
  background: #fff;

  /* csslint ignore:start */
  border: 1px solid #999;

  /* csslint ignore:end */
  float: left;
  font-size: 1.5rem;
  font-weight: bold;
  height: 2.125rem;
  line-height: 2.125rem;
  margin-right: -0.0625rem;
  margin-top: -0.0625rem;
  padding: 0;
  text-align: center;
  width: 2.125rem;
}

/* csslint ignore:start */
.square:focus {
  outline: none;
}

/* csslint ignore:end */

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 1.25rem;
}
