<!DOCTYPE html>
<html>
	<head>
    <script src="https://code.angularjs.org/1.6.9/angular.js"></script>
        <meta charset="utf-8" />
		<title>Controller</title>
	</head>
	<body>
	<div data-ng-app="myAngular" data-ng-controller="myCtrl"> 
    Number1: 
    <input type="number" data-ng-model="num1">
    <br> Number2: 
    <input type="number" data-ng-model="num2">
    <br> Sum: {{ num1 + num2 }} 
    <script> 
      var myApp = angular.module('myAngular', [ ]); 
      myApp.controller('myCtrl', function($scope) { 
        $scope.num1 = 22; 
        $scope.num2 = 66; 
      }); 
    </script>
    </div>
	</body>
</html>
