*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --very-dark-blue: #0a0a23;
  --white: #fff;
  --yellow: #f1be32;
  --golden-yellow: #feac32;
}

body {
  background-color: var(--very-dark-blue);
  text-align: center;
  color: var(--white);
}

h1 {
  margin: 0.9375rem 0 1.25rem;
}

.btn {
  cursor: pointer;
  width: 6.25rem;
  margin: 0.625rem;
  color: var(--very-dark-blue);
  background-color: var(--golden-yellow);
  background-image: linear-gradient(#fecc4c, var(--golden-yellow));
  border-color: var(--golden-yellow);
  border-width: 0.1875rem;
}

.btn:hover {
  background-image: linear-gradient(#fecc4c, #f89808);
}

.rules-container {
  padding: 0.625rem 0;
  margin: auto;
  border-radius: 0.9375rem;
  border: 0.3125rem solid var(--yellow);
  background-color: var(--white);
  color: var(--very-dark-blue);
}

.rules-container ul {
  list-style-type: none;
}

.rules-container p {
  margin: 0.625rem 0;
}

@media (min-width: 760px) {
  .rules-container {
    width: 60%;
  }
}

.score-container {
  display: flex;
  justify-content: space-around;
  margin: 1.875rem 0;
  font-size: 1.2rem;
}

.score {
  font-weight: 500;
}

.results-container {
  font-size: 1.3rem;
  margin: 0.9375rem 0;
}

#winner-msg {
  margin-top: 1.5625rem;
}

#reset-game-btn {
  display: none;
  margin: 1.25rem auto;
}
